html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.mainContainer {
    background-image: linear-gradient(to right top, #592c59, #4f2c5f, #432e64, #322f69, #17316d);
    /* background-image: linear-gradient(to right bottom, #1040ae, #006ccd, #0091d4, #00b1cc, #1ecfc0); */
    /* background-image: linear-gradient(to right bottom, #8740ae, #7448b4, #5d4fb8, #4354bb, #1859bb); */
    /* background-image: linear-gradient(to right bottom, #176fb3, #0087c0, #009dbe, #00b1af, #1cc298); */
}

/* Start of first main section */
.firstSectionContainer {
    height: 100%;
    margin-bottom: 0.2em;
}


/* Start of header section */
.headerContainer {
    display: flex;
    flex-direction: column;
}

.catchFraseContainer {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.315);
}

.catchFraseContainer h3 {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(240, 240, 240);
    margin: 0;
    padding: 10px;
}

.headerContent {
    display: flex;
    justify-content: space-around;
}

.navbar {
    display: flex;
    list-style: none;
    margin: 10px 0px 0px 200px;
}

.navbar li {
    padding: 5px 15px;

}

.navbar li a {
    color: rgb(250, 250, 250);
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.navbar li a::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgb(240, 240, 240);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
}

.navbar li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    background: #2FFFAD;
}

.logoContainer {
    margin: -40px 200px 0px 0px;
}

.logoContainer img {
    transform: scale(0.7);
}

/* End of header section */


/* Start of Search bar section */
.searchBarContainer {
    width: 700px;
    margin: 0 auto 100px auto;
}

.searchBarContainer h2 {
    color: rgb(235, 235, 235);
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 50px;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.searchBarContainer form {
    display: flex;
    justify-content: center;
}

.searchField {
    background-color: #ffffff;
    width: 400px;
    height: 50px;
    display: flex;
    border-radius: 5px;
}

.searchBox {
    background: none;
    border: none;
    flex: 1;
    height: 100%;
    outline: none;
    padding: 0px 0px 0px 10px;
    color: #481755;
}

.btn {
    background-color: rgb(17, 161, 137);
    color: #ffffff;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 7px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.searchButton {
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 25px;
}

.searchButton i {
    transform: scale(1.2);
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 8, 8, 0.4);
    border-radius: 5px;
    z-index: -1;
    transition: transform 200ms ease-in;
    transform: scaleX(0);
    transform-origin: right;
}

.searchButton::after {
    border-radius: 25px;
    transform: scale(0);
}

.btn:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* End of Search bar section */


/* Start of Top Five section */
.topFiveContainer {
    margin-bottom: 4em;
}

.topFiveHeader {
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 0.8em;
}

.topFiveContent {
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
}

.topFive {
    display: flex;
    width: 250px;
    height: 180px;
    padding: 0.5em;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.topFive:hover {
    transform: scale(1.2);
}

.topFive img {
    width: 70px;
    height: 70px;
    padding: 0.3em;
}

.topFiveDescription h3 {
    font-size: 1rem;
    color: #fff;
    margin: 0.4em 0em 1em 0.4em;
}

.topFiveDescription p {
    font-size: 0.8rem;
    color: #fff;
    margin: 0.4em 0em 7.5em 0.4em;
}

.topFiveDescription a {
    position: relative;
    font-size: 0.8rem;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 8em;
}

.topFiveDescription a::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
}

.topFiveDescription a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    background: #2FFFAD;
}

/* End of Top Five section */


/* Start of scroll down arrow section */
.arrowsContainer {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2.2em;
}

.arrows {
    position: relative;
    width: 20px;
    height: 20px;
}

.arrows span {
    position: absolute;
    transform: rotate(45deg);
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-right: 2px solid rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    animation: arrows 1s infinite;
}

@keyframes arrows {
    0% {
        top: 0px;
        border-right: 2px solid rgba(0, 0, 0, 0.4);
        border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    }

    50% {
        top: 20px;
        border-right: 2px solid rgba(255, 255, 255, 0.7);
        border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    }

    100% {
        top: 0px;
        border-right: 2px solid rgba(0, 0, 0, 0.4);
        border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    }
}

/* End of scroll down arrow section */
/* End of first main section */


/* Start of second main section */
.secondSectionContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Start of filter catagories section */
#filterCatContainer {
    padding-top: 4em;
}

#subSectionForm {
    width: 70%;
    margin: 0 auto;
    padding: 4em;
    border-radius: 5px;
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, 0.959);
}

#places,
#setting,
#isDrink,
#playerRange,
#timeRange,
#prepAmount {
    color: rgb(7, 105, 76);
    font-size: 1.2rem;
    padding: 0.3em;
}

#places>input,
#setting>input {
    transform: scale(1.1);

}

#subscribe,
#reset {
    background-color: rgb(11, 161, 104);
    color: rgb(243, 243, 243);
    padding: 10px 17px;
    border: none;
    border-radius: 5px;
    margin-left: 7px;
    cursor: pointer;
}

#subscribe:hover,
#reset:hover {
    background-color: rgb(3, 117, 74);
}

/* End of filter catagories section */


/* Start of footer section */
.footer_container {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.3);
}

.footerNavLinks {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 1em;
}

.footerNavLinks li {
    padding-left: 2em;
}

.footerNavLinks li a {
    text-decoration: none;
    /* padding: 2em; */
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.footerNavLinks li a::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
}

.footerNavLinks li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    background: #2FFFAD;
}

/* End of footer section */